body {
    background: #1f1f1f;
    color: white;
    font-family: sans-serif;
}

.board {
    display:grid;
    color: white;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    margin: 0 auto;
    padding: 1rem 4rem;
}

.card{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    background:white;
    height: 35vh;
    text-align: center;
    border: 5px solid #1f1f1f;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.card:hover {
    border: 5px solid white;
}

#score {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    text-align: end;
}


.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}